---
import Social from "./Social.astro";

const platform = "github"
const username = "palominodev"
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my proyects on <Social platform="github" username="palominodev" /> </p>
    <p>Follow <Social platform="facebook" username="palominodev" /></p> 
    <p>Follow <Social platform="instagram" username="palominodev" /></p> 
    <p>Follow <Social platform="twitter" username="palominodev" /></p> 
</footer>